<div class="container p-2">
    <h2>Lista de empleados</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Provincia</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados; index as i">
                <td>{{ empleado.legajo }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.provincia }}</td>
                <td>{{ empleado.email }}</td>
                <td>
                    <i class="fa fa-eye p-1" routerLink="/abm/edit" [state]="{data: empleado, action: 'view'}"
                        routerLinkActive="active" role="button"></i>
                    <i class="fa fa-edit p-1" routerLink="/abm/edit" [state]="{data: empleado, action: 'edit'}"
                        routerLinkActive="active" role="button"></i>
                    <i class="fa fa-trash p-1" (click)="openModalConfirm(empleado)" role="button"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshTable()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshTable()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>