@import "../../../assets/partials/variables";

.sidebar-heading {
  border-bottom: 1px solid #ccc;
}

#sidebar-wrapper {
  min-height: 100%;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  li {
    cursor: pointer;
    &:hover {
      background-color: $azul !important;
      color: white;
    }
  }
}

#sidebar-wrapper.toggled {
  margin-left: 0;
}

.list-group-item.active {
  color: $azul;
  border-color: #ccc;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #sidebar-wrapper.toggled {
    margin-left: -15rem;
  }
}
